/*HTML*/
html {
    scroll-behavior: smooth;
    width: 100%;
}
/*Tables*/
dl {
    display: table;
    border-collapse: collapse;
    width: 300px;
}
dl div {
    display: table-row;
}
dt, dd {
    display: table-cell;
    border: 1px solid black;
    vertical-align: top;
    padding: 5px;
    column-rule-style: dotted;
    justify-content: center;
}
p{
    column-rule-style: dotted;
    widows: 3;
    height: 99px;
    overflow: visible;
}
/*nav*/
nav {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 500;
    height: 2em;
}
nav a{
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
nav a:hover {

}
/*DIV*/
div {
    height: 100%;
    width: 100%;
    position: relative;
}   
/*ul*/
ul, li {
    display: inline;
    list-style-type: none;
    color: white;
}
/*Button*/
div button {
    z-index: 5;
    position: absolute;
    border-radius: 35%;
    width: 300px;
    height: 50px;
}
button { 
    background-color: transparent;
    border: white 2px solid;
    color: white;
}
.button2 {
    top: 2200px;
    color: white;
    background-attachment: transparent;
}
button:hover {
    background-color:white;
    color: black;
    transition: .5s;
}
.button2:hover {
    background-color:white;
    color: black;
    transition: .5s;
}
/*Classes*/
.tesla{
    margin: 0%;
    padding: 0px;
    height: 100vh;
    width: 100%;
}
.white-arrow {
    position: relative;
    left: 725px;
    top: 625px;
}
.Accessories {
    width: 600px;
    height: 300px;
    position: absolute;
    overflow-wrap: break-word;
    overflow: hidden;
}
/*ID's*/
#tesla-logo {
    position: absolute;
    left: 400px;
    z-index: 5;
}
#arrow1 {
    position: relative;
    top: 200px; 
    left: 100px;
}
.move:hover {
    transition: 15s;
}